
body {
    margin: 0px 5em 0px 5em;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0em 1.5em 0em;
    align-items: center
}

.nav-links {
    @extend.nav-bar;
}

 a {
    margin-right: 1em;
    color: inherit;
    text-decoration:none;
}

.theme-logo{
    background: none;
    border: none;
    cursor: pointer;
    transition: 5s ease-in-out;
    outline:0;
}

.hello-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hello-me {
    display: flex;
    flex-direction: column;
}

.work-with-me {
    background-color: rgb(206, 39, 206);
    width: 150px;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}

#myMask2 > circle {
    cy:2px !important;
}

.me-image {
    -webkit-user-drag: none;
}
.my-work {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.my-project-container {
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}