* {
  font-family: "Roboto", sans-serif;
}
html {
  display: flex;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0px 5em 0px 5em;
  width: 100vw;
  overflow-x: hidden;
  &.dashboard-active {
    margin: 0;
  }
}

.nav-bar {
  padding: 1.5rem 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.nav-links {
  @extend.nav-bar;
}

a {
  cursor: pointer;
  margin-right: 1em;
  color: inherit;
  text-decoration: none;
}

.theme-logo {
  background: none;
  border: none;
  cursor: pointer;
  transition: 5s ease-in-out;
  outline: 0;
}

.hello-container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.hello-me {
  display: flex;
  flex-direction: column;
}

.work-with-me {
  background-color: #1351d8;
  width: 150px;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

#myMask2 > circle {
  cy: 2px !important;
}

.me-image-container {
  position: relative;
  -webkit-user-drag: none;
  object-fit: contain;
  max-width: 100vw;

  .me-image {
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    -webkit-user-drag: none;
    object-fit: contain;
    max-width: 100vw;
    opacity: 1; /* Reduced default opacity */

    &:hover {
      opacity: .6; /* Full opacity on hover */
    }
  }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 20px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Ensures the text doesn't interfere with image clicking */
  }

  &:hover .hover-text {
    opacity: 1; /* Show text on hover */
  }
}

.my-work {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.my-project-container {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8fr;
  gap: 1.2rem;
}

.about-me {
  padding-top: 100px;
  text-align: center;
}

.my-toolbox {
  height: 400px;
  box-shadow: #00000069 0px 1px 6px 0px;
  border-radius: 25px;
  margin: 15px;
}

.tools-about {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.more-about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.social-links {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-self: left;
}

.summary-head {
  font-size: 30px;
  text-align: left;
}

.my-summary {
  font-size: 1em;
  text-align: left;
  margin: 0;
}

.social-logo {
  height: 40px;
  padding-left: 5px;
}

#contact {
  margin-top: 20px;
}

.carousel-holder {
  width: 35%;
  height: 35%;
}

@media only screen and (max-width: 960px) {
  .my-project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 850px) {
  body {
    margin: 0em 1em 0em 1em;
  }
  .hello-container {
    display: flex;
    flex-direction: column;
  }

  .hello-me {
    text-align: center;
    align-items: center;
    margin-bottom: 35px;
  }

  .my-toolbox {
    width: 350px;
    height: 300px;
  }

  .more-about {
    margin-top: 40px;
    width: unset;
  }

  .social-links {
    align-self: center;
  }

  .summary-head {
    text-align: center;
  }

  .my-summary {
    margin: 0;
  }

  .my-project-container {
    grid-template-columns: 1fr;
  }
  .carousel-holder {
    width: 80%;
    height: 35%;
  }
}

@media only screen and (max-width: 1250px) {
  .tools-about {
    display: flex;
    flex-direction: column;
  }
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}