$box-shadow: rgba(0, 0, 0, 11%) 0px 1px 6px 0px;

.project-cards {
  max-height: 475px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: #00000069 0px 1px 6px 0px;
  justify-content: space-evenly;
  overflow: hidden;
}

.preview-image {
  // float: left;
    width:  400px;
    height: 355px;
    object-fit: cover;
  align-self: center;
}

.project-cards > h2 {
  margin: 5px 0 0 0;
  font-size: 20px;
}

.card-footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer > a {
  margin: 0;
}
