$box-shadow: rgba(0, 0, 0, 11%) 0px 1px 6px 0px;

.project-cards {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 350px;
    text-align: left;
    margin: .5em 1em .5em 1em;
    padding: .5em .5em .5em .5em;
    box-shadow: #00000069 0px 1px 6px 0px;
}

.project-cards > h2 {
    margin: 5px 0 0 0;
    font-size: 20px;
}

.preview-image {
    height: 300px;
}

.card-footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.card-footer > a {
    margin: 0;
}