.my-form{
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contact-form {
    width: 70%;
    padding-right: 2rem;
}

.input-bars {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #1351d8;
    padding: 0.8rem 1rem;
    border-radius: 7px;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease 0s;
    background-color: transparent;
    color: unset;
}

.btn {
    background-color: #1351d8;
    width: 150px;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}

::placeholder {
    color: unset;
}